Package: com.amywhile.grapher
Name: Grapher
Depends: mobilesubstrate
Conflicts: com.charliewhile.grapher
Version: 1.2
Architecture: iphoneos-arm
Description: A tweak to gather and graph battery usage and temperature data
Maintainer: quiprr and Amy While
Author: quiprr and Amy While
Section: Tweaks
